.about {
  padding-top: 27px;
  color: $black-text-color;
}

.about__heading {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  @include reset-list;
}

.about__item {
  position: relative;
  padding-top: 55px;
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  background-repeat: no-repeat;
}

.about__item-icon {
  position: absolute;
  fill: $seafoam-blue;

  &--flower {
    top: 2px;
    left: 8px;
  }

  &--money {
    top: 4px;
  }

  &--heart {
    top: 9px;
    left: 7px;
  }

  &--ball {
    top: 6px;
    left: 3px;
  }

  &--rocket {
    top: 6px;
    left: -6px;
  }

  &--gift {
    top: 5px;
    left: 3px;
  }
}

@include breakpoint-up($breakpoint-tablet) {
  .about {
    padding-top: 51px;
    padding-bottom: 25px;
  }

  .about__heading {
    margin-bottom: 44px;
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;
    padding-top: 56px;
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: -2;
    }

    &--handmade {
      order: -1;
    }

    &--likes {
      order: 1;
    }

    &--packaging {
      order: 2;
    }
  }
}

@include breakpoint-up($breakpoint-desktop) {
  .about {
    padding-top: 60px;
    padding-bottom: 35px;
  }

  .about__container {
    padding-left: 220px;
  }

  .about__heading {
    margin-bottom: 42px;
    font-size: 53px;
    line-height: 57px;
  }

  .about__item {
    width: 350px;
  }

  .about__item-icon {
    &--flower {
      top: 5px;
      left: 14px;
    }

    &--ball {
      top: 7px;
      left: 8px;
    }

    &--money {
      top: 4px;
      left: 6px;
    }

    &--heart {
      left: 13px;
    }

    &--rocket {
      top: 8px;
      left: -1px;
    }

    &--gift {
      left: 7px;
    }
  }
}
