.container {
  padding: 0 30px;
  margin: 0 auto;

  @include breakpoint-up($breakpoint-tablet) {
    padding: 0 50px;
  }

  @include breakpoint-up($breakpoint-desktop) {
    max-width: $breakpoint-desktop;
    padding: 0 50px;
  }
}
