.featured-product {
  position: relative;
  padding-top: 30px;
  padding-bottom: 36px;
}

.featured-product__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.featured-product__heading {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $seafoam-blue;
}

.featured-product__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 25px;
  line-height: 30px;
}

.featured-product__text {
  margin-top: 0;
  margin-bottom: 17px;
  line-height: 24px;
}

.featured-product__details {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
  line-height: 20px;
}

.featured-product__details tr {
  border-bottom: 1px solid #ececec;
}

.featured-product__details th {
  width: 98px;
  padding: 10px 0;
  font-weight: normal;
  text-align: left;
}

.featured-product__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.featured-product__img {
  display: block;
  width: 260px;
  height: 315px;
  margin-left: auto;
  margin-right: auto;
}

.featured-product__price {
  width: 100%;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

@include breakpoint-up($breakpoint-tablet) {
  .featured-product {
    padding-top: 40px;
    padding-bottom: 53px;
  }

  .featured-product__heading {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 75px;
    margin-bottom: 0;
    text-align: center;
    line-height: 17px;
  }

  .featured-product__name {
    margin-bottom: 46px;
    font-size: 43px;
    line-height: 50px;
    color: $black-text-color;
  }

  .featured-product__info {
    width: 292px;
    margin-right: 40px;
  }

  .featured-product__text {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
  }

  .featured-product__details {
    margin-bottom: 55px;
  }

  .featured-product__picture {
    position: absolute;
    top: 100px;
    right: 50px;
  }

  .featured-product__img {
    width: 333px;
    height: 404px;
  }

  .featured-product__price {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

@include breakpoint-up($breakpoint-desktop) {
  .featured-product {
    padding-bottom: 73px;
  }

  .featured-product__container {
    padding-left: 225px;
  }

  .featured-product__heading {
    top: 75px;
    left: 100px;
  }

  .featured-product__name {
    margin-top: 60px;
    margin-bottom: 44px;
    font-size: 53px;
    line-height: 57px;
  }

  .featured-product__text {
    margin-bottom: 40px;
  }

  .featured-product__details {
    margin-bottom: 110px;
  }

  .featured-product__picture {
    z-index: -1;
    top: 0;
    right: 50px;
  }

  .featured-product__img {
    width: 525px;
    height: 636px;
  }
}
