.order-form__section {
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 30px;
}

.order-form__heading {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $seafoam-blue;
  text-transform: uppercase;

  &::after {
    flex-grow: 1;
    width: 100px;
    height: 1px;
    background-color: $seafoam-blue;
    content: "";
  }

  &--lower {
    margin-bottom: 6px;
  }
}

.order-form__heading-text {
  width: 64px;
}

.order-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--lower {
    margin-bottom: 33px;
  }
}

.order-form__label {
  margin-top: 6px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $black-text-color;

  &--hidden {
    @include visually-hidden();
  }
}

.order-form__input,
.order-form__textarea {
  padding: 17px 0;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  background: transparent;
  color: $default-text-color;
  outline: 0;

  &:hover,
  &:focus {
    border-color: $seafoam-blue-3;
  }

  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:-moz-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.order-form__textarea {
  min-height: 142px;
  padding: 17px;
  border: 2px solid #000000;
  margin-bottom: 17px;
}

.order-form__info {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

@include breakpoint-up($breakpoint-tablet) {
  .order-form__section {
    padding-top: 40px;
    padding-bottom: 27px;
    margin-bottom: 0;

    &--color {
      padding-top: 50px;
      padding-bottom: 47px;
    }

    &--name {
      padding-top: 48px;
      padding-bottom: 56px;
    }

    &--tel-email {
      padding-top: 50px;
      padding-bottom: 51px;
    }

    &--textarea {
      padding-top: 50px;
      padding-bottom: 48px;
    }

    &:nth-child(even) {
      background-color: $very-light-pink;
    }
  }

  .order-form__fields-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .order-form__controls {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 165px);

    &--full {
      width: 100%;
    }
  }

  .order-form__heading {
    flex-shrink: 0;
    width: 165px;
    margin-top: 19px;

    &::after {
      display: none;
    }

    &--lower {
      margin: 0;
    }
  }

  .order-form__group {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 19px;
  }

  .order-form__label {
    margin-right: 25px;
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__input,
  .order-form__textarea {
    flex-grow: 1;
    padding: 17px;
  }

  .order-form__textarea {
    margin-bottom: 53px;
  }

  .order-form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .order-form__info {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__button {
    width: 230px;
    padding-left: 0;
    padding-right: 0;
  }
}

@include breakpoint-up($breakpoint-desktop) {
  .order-form__section {
    padding-top: 51px;

    &--color {
      padding-bottom: 48px;
    }

    &--name {
      padding-top: 42px;
      padding-bottom: 46px;
    }

    &--tel-email {
      padding-top: 42px;
      padding-bottom: 46px;
    }
  }

  .order-form__heading {
    position: absolute;
    width: 115px;
    transform: translateX(-100%);
  }

  .order-form__fields-wrapper {
    &--color {
      flex-wrap: nowrap;
    }
  }

  .order-form__fields-wrapper--color .order-form__controls {
    flex-shrink: 0;
    width: 790px;
    margin-top: -4px;
  }

  .order-form__controls {
    width: 100%;
  }

  .order-form__group {
    margin-bottom: 15px;
  }

  .order-form__label,
  .order-form__input {
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__textarea {
    margin-bottom: 48px;
  }
}
