.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.radio__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.radio__input:checked ~ .radio__control {
  border-color: $seafoam-blue-3;
}

@include breakpoint-up($breakpoint-tablet) {
  .radio__control {
    width: 112px;
  }
}
