.reviews {
  position: relative;
  margin-bottom: 6px;

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 6px;
    background: url("../img/bg-zigzag-line.svg") repeat-x top left / contain;
    content: "";
  }
}

.reviews__container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
}

.reviews__heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  color: $black-text-color;
}

.reviews__list {
  @include reset-list;
}

.reviews-controls {
  display: flex;
  margin-bottom: 33px;
}

.reviews-controls__item {
  width: 50%;
  padding: 13px;
  border: 1px solid #ececec;
  margin-right: -1px;
  background: none;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.reviews-controls__icon {
  width: 50px;
  height: 26px;
}

.reviews-controls__item:hover .reviews-controls__icon {
  opacity: 0.6;
}

.reviews-controls__item:active .reviews-controls__icon {
  opacity: 0.3;
}

@include breakpoint-up($breakpoint-tablet) {
  .reviews {
    margin-bottom: 15px;

    &::after {
      height: 15px;
      bottom: -15px;
    }
  }

  .reviews__container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 86px;
    background: url("../img/review@1x.jpg") no-repeat left top / 350px;
  }

  .reviews__heading {
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews-controls {
    position: absolute;
    right: 50px;
    bottom: 83px;
  }

  .reviews-controls__item {
    padding: 13px 18px;
    border: none;
  }

  .reviews__add-button {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }
}

@include breakpoint-up($breakpoint-desktop) {
  .reviews {
    margin-bottom: 23px;

    &::after {
      display: none;
    }
  }

  .reviews__container {
    padding-top: 71px;
    padding-left: 225px;
    padding-bottom: 163px;
    background-position: 50px top;

    &::after {
      position: absolute;
      left: 50px;
      right: 50px;
      bottom: -20px;
      transform: rotate(180deg);
      height: 23px;
      background: url("../img/bg-zigzag-line.svg") repeat-x top left / contain;
      content: "";
    }
  }

  .reviews__heading {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__add-button {
    top: 79px;
  }

  .reviews-controls {
    bottom: 130px;
  }
}
