.review__text {
  margin-top: 0;
  margin-bottom: 26px;
}

.review__author {
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: $black-text-color;
}

.review__author-handle {
  margin-bottom: 30px;
  font-size: 17px;
}

@include breakpoint-up($breakpoint-tablet) {
  .review__text {
    margin-bottom: 57px;
    font-size: 17px;
  }

  .review__author {
    margin-bottom: 4px;
    font-size: 18px;
  }
}

@include breakpoint-up($breakpoint-desktop) {
  .review__text {
    padding-right: 105px;
    margin-bottom: 40px;
  }

  .review__author-handle {
    margin-bottom: 0;
  }
}
