.review__text {
  margin-bottom: 30px;
}

.review__author {
  font-size: 17px;
  line-height: 24px;
  color: $black-text-color;
}

.review__author-handle {
  margin-bottom: 30px;
  font-size: 17px;
}

.reviews-controls {
  display: flex;
  margin-bottom: 38px;
}

.reviews-controls__item {
  width: 50%;
  padding: 13px;
  border: 1px solid #ececec;
  margin-right: -1px;
  background: none;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.reviews-controls__icon {
  width: 50px;
  height: 26px;
}

.reviews-controls__item:hover .reviews-controls__icon {
  opacity: 0.6;
}

.reviews-controls__item:active .reviews-controls__icon {
  opacity: 0.3;
}
