.site-footer {
  padding: 25px 0;
  background-color: $very-light-pink;
}

.site-footer__logo-link {
  display: none;
}

.site-footer__logo {
  display: block;
}

.site-footer__divider {
  height: 1px;
  border: none;
  margin-top: 27px;
  margin-bottom: 22px;
  background-color: #e8e8e8;
}

.site-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer__copy-text {
  margin-right: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black-text-color;
}

.site-footer__academy-logo {
  display: block;
}

@include breakpoint-up($breakpoint-tablet) {
  .site-footer {
    padding-top: 58px;
    padding-bottom: 50px;
  }

  .site-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-footer__logo-wrapper {
    width: 200px;
  }

  .site-footer__logo-link {
    display: block;
  }

  .site-footer__divider {
    display: none;
  }

  .site-footer__copyright {
    width: 200px;
  }
}
