.sitenav {
  border-bottom: 1px solid #ececec;
}

.sitenav__container {
  position: relative;
  padding: 0;
}

.sitenav__toggler {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 21px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent  no-repeat center center;
  font-size: 0;
  cursor: pointer;
}

.sitenav--closed .sitenav__toggler {
  background-image: url("../img/icon-menu-open.svg");
}

.sitenav--open .sitenav__toggler {
  background-image: url("../img/icon-menu-close.svg");
}

.sitenav--closed .main-nav,
.sitenav--closed .user-actions {
  display: none;
}

.sitenav__delivery-text {
  display: none;
  margin: 0;
  line-height: 24px;
}

@include breakpoint-up($breakpoint-tablet) {
  .sitenav__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
  }

  .sitenav__toggler {
    display: none;
  }

  .sitenav--closed .main-nav,
  .sitenav--closed .user-actions {
    display: flex;
  }

  .main-nav__item--search {
    font-size: 0;
  }

  .sitenav__delivery-text {
    display: block;
    position: absolute;
    top: calc(100% + 20px);
    right: 50px;
  }
}

@include breakpoint-up($breakpoint-desktop) {
  .sitenav__container {
    padding: 0 50px;
  }
}
