.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  margin: 0 20px;
}

.socials__icon {
  display: block;

  &:hover {
    fill: $aqua-marine-2;
  }

  &:active {
    opacity: 0.3;
  }
}
