html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: $default-text-color;
}
