$default-text-color: #444444;
$black-text-color: #000000;
$lead-text-color: #010000;
$seafoam-blue: #63d1bb;
$seafoam-blue-2: #59d5bc;
$aqua-marine: #56c3b2;
$aqua-marine-2: #46c1ae;
$blue-green: #149080;
$breakpoint-tablet: 772px;
$breakpoint-desktop: 1150px;
