$default-text-color: #444444;
$black-text-color: #000000;
$lead-text-color: #010000;
$accent-color: #63d1bb;
$accent-color-darker: #56c3b2;
$accent-color-darkest: #149080;
$breakpoint-tablet: 772px;
$breakpoint-desktop: 1150px;
